---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1331%2017th%20Street,%20Denver,%20CO%2080202&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1331",
                       "short_name" : "1331",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "17th Street",
                       "short_name" : "17th St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central",
                       "short_name" : "Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" :[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=494%20East%2019th%20Avenue,%20Denver,%20CO%2080203&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_com[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=15330%20East%20120th%20Place,%20Commerce%20City,%20CO%2080022&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2001%20Colorado%20Boulevard,%20Denver,%20CO%2080205&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_co[...]
