---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=494%20East%2019th%20Avenue,%20Denver,%20CO%2080203&key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "494",
                       "short_name" : "494",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East 19th Avenue",
                       "short_name" : "E 19th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "North Capitol Hill",
                       "short_name" : "North Capitol Hill",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
      [...]
